/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Play&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body*/
body {
    font-family: 'Play', sans-serif;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../assets/img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Texto*/
h1 {
    text-align: center;
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
h6 {
    margin: 5px;
    padding: 5px;
}
/*Fuente*/

/*Botón Calculadora*/
.botonCalculadora {
    margin: 10px;
    padding: 10px;
    border-radius: 3rem;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
    border: 2px 2px solid linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9));
}
.botonCalculadora:hover{
    box-shadow: .1rem .1rem 3rem #4d4c4c;
}
